@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
*{
  padding:0px;
  margin:0px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}


@media (max-width: 916px) {
  nav li{
    display: inline-block;
    padding: 10px;
    box-sizing: border-box !important;
  }
  img{
    display: block !important;
    padding: 5px;
  }
  .padding-work{
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .col-3{
    width: calc(100%/1) !important;
    }

  .content1{
    text-align: center;
    margin-top: 150px !important;
    padding-top: 150px;
    font-size: 1.5rem;
  }
  .padding-menu{
    padding: 5px 20px 5px 20px;
  }
  .padding-nav{
    padding-right: 0px !important;
    margin-top: 15px;
  }
  @media (max-width: 798px){
    nav li{
      display: block !important;
      padding: 10px;
    }
    img{
      display: block !important;
      padding: 10px;
      margin: 10px;
    }
    .col-3{
      width: calc(100%/1) !important;
      }
  .box{
    display: flex;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column !important;
  }
  .box-s{
    padding: 20% 10%;
    margin: -100px 10px 130px 10px !important;
    background-color: white;
    box-shadow: 1px 1px 10px #888888;
    border-radius: 10px;
  }
  .content1{
    text-align: center;
    margin-top: 150px !important;
    padding-top: 150px;
    font-size: 2rem;
  }
  .box-rt{
    width: calc(100%/1) !important;
    flex-wrap: wrap;
  }
  .reverse{
    flex-direction: column-reverse;
  }

  .box-s1{
    padding: 50px 50px;
    margin: 5% 5% ;
    background-color: white;
    box-shadow: 1px 1px 10px #888888;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: wrap !important;
  }
  .cont1{
    width: 100%;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
  }
  .cont11{
    width: 100%;
    height: auto;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .padding-ftr{
    margin-right: 1%;
    margin-left: 1%;
    height: auto;
    padding: 5%;
}

}

}
.padding-menu{
  padding: 5px 10% 5px 10%;
}
img{
  transition: .5s;
  transform: scale(1);
}
a{
  transition: .5s;
  transform: scale(1);
}
.flex{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
nav li{
  display: inline-block;
  padding: 10px;
  transition: .5s;
  transform: scale(1);
}

.cont-nav{
  box-shadow: 1px 1px 10px #888888;
  background-color:#f8f9fa;
}
.top-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9;
}
.padding-nav{
  padding-right: 80px;
  margin-top: 15px;
  min-height: 80px;
}
.font-light{
  font-weight: 300;
}
.font-bold{
  font-weight: 500;
}
i{
  padding-right: 5px;
}
.color-card{
  background-color: #f8f9fa;
}

#intro{
  min-height: 100vh
}
#intro1{
  min-height: 70vh
}

.content1{
  text-align: center;
  padding-top: 150px;
  font-size: 3rem;
}
h6 {
  font-weight: 300;
}
.box{
  display: flex;
  min-height: 300px;
  padding-left: 80px;
  padding-right: 80px;
}
.box-s{
  padding: 30px 15px;
  margin: -100px 30px 100px 30px;
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
  border-radius: 10px;
  transition: .5s;
  transform: scale(1);
}
.text-align{
  text-align: center;
}
.work-card{
  width: 100%;
  min-height:180px;
}
.padding-work{
  padding-left: 200px;
  padding-right: 200px;
}
.text-work{
  font-size: 1.5rem;
}
.text-list{
  font-size: 0.7rem;
}

.flex1{
  display: flex;
  align-content: center;
  width: 100%;
}
.flex2{
  display: flex;
  align-content: center;
  width: 100%;
  flex-direction: column;
}
.main{
  display: flex;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.link{
  margin-top: 2%;
  text-decoration: none;
  border: solid 1px black;
  color: black;
  padding:3% 9%;
  font-weight: 500;
  font-size: 1em;
}
.marging-link{
  margin: 10%;
}
.section-t{
  padding: 120px 0px;
}
.box-r{
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.box-rt{
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
}

.box-s1{
  padding: 50px 50px;
  margin: 5% 5% ;
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .5s;
  transform: scale(1);
}
.salto{
  margin-top: 10px;
}

.img-nw-1{
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 10px;
  align-items: center;
}
.paddig-news{
  padding: 2rem;
}

.flex-wrap{
flex-wrap: wrap;
}
.link1{
  margin-top: 2%;
  color: black;
  padding:3% 9%;
  font-weight: 500;
  font-size: 1em;
}
.no-dec{
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}
.bg-black{
  background-color: #111111;
}
.cont1{
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 115px;
    margin-left: 115px;
    display: flex;
}
div{
  display: block;
}

.padding-ftr{
    margin-right: auto;
    margin-left: auto;
    width:100%;
    height: auto;
    padding: 5%;
}
.txt-w{
  color: white;
}
.img-nw-2{
  margin-top: auto;
  margin-bottom: auto;
}
.col-3{
  width: calc(100%/3);
  
  }
  .container{
    display:flex;
    flex-wrap: wrap;
  }
  .card-img{
    margin: 1rem;
    background-size: cover;
  }
  .img{
    width:100%;
  }
  /* Diseño de hovers para la pagina*/
  li:hover{
    background-color: #e0e0e0;
    border-radius: 25px;
    transition: .5s;
    transform: scale(1.2);
  }
  .box-s:hover{
    background-color: #2c2c2c;
    color: rgb(228, 228, 228);
    transition: .5s;
    transform: scale(1.2);
  }
  .box-s1:hover{
    background-color: #2c2c2c;
    color: rgb(228, 228, 228);
    transition: .5s;
    transform: scale(1.2);
  }
  img:hover{
    transition: .5s;
    transform: scale(1.1);
  }
  a.link:hover{
    background-color: rgb(41, 41, 41);
    color: rgb(228, 228, 228);
    transition: .5s;
    transform: scale(1.1);
  }